@{
    ViewBag.Title = Resources.Resource.About;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        @Resources.Resource.ExtraInformation
    </p>

    <p>
        @Resources.Resource.ExtraInformation
    </p>

    <p>
        @Resources.Resource.ExtraInformation
    </p>
</article>

<aside>
    <h3>@Resources.Resource.QuickLinks</h3>
    <p>
        @Resources.Resource.ExtraInformation
    </p>
    <ul>
        <li>@Html.ActionLink(@Resources.Resource.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(@Resources.Resource.About, "About", "Home")</li>
        <li>@Html.ActionLink(@Resources.Resource.Contact, "Contact", "Home")</li>
    </ul>
</aside>