@using Resources
@{
    ViewBag.Title = @Resources.Resource.Contact;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>@Resource.RegisterPhoneNumber</h3>
    </header>
    <p>
        <span class="label">@Resource.PhoneMain:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">@Resource.PhoneAfterHouse:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Resources.Resource.RegisterEmail</h3>
    </header>
    <p>
        <span class="label">>@Resources.Resource.Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">>@Resources.Resource.Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">>@Resources.Resource.General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>>@Resources.Resource.RegisterHomeAddress</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>