@using Resources
@model MvcApplication2.Models.PhysicianModel

@{
    ViewBag.Title = @Resource.Details;
}

<h2>@Resource.Details</h2>

<fieldset>
    <legend>PhysicianModel</legend>

    <div class="display-label">
         @Resource.LoginUserName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Resource.RegisterCitizenshipNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TcCitizenshipNo)
    </div>

    <div class="display-label">
         @Resource.RegisterName
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Resource.RegisterSurname
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">
         @Resource.RegisterPhoneNumber
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Resource.RegisterHomeAddress
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeAddress)
    </div>

    <div class="display-label">
         @Resource.RegisterBirthday
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">
         @Resource.AccountType
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountType)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@Resource.Edit, "Edit", new { id=Model.UserId }) |
    @Html.ActionLink(@Resource.BacktoList, "Index")
</p>
