@using MvcApplication2.Models
@using System.Web.Script.Serialization
@{
    var physicianModel = ViewData["Physician"] as PhysicianModel;
    var patientModel = ViewData["Patient"] as PatientModel;
}
<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>

    <script src="@Url.Content("~/Scripts/dhtmlxScheduler/custom_calendar.js")"></script>
    @Html.Raw(Model.GenerateLinks())

</head>

<body>
    <script>
        window.app.currentUserName = "@patientModel.Name";
        window.app.currentUserLastName = "@patientModel.Surname";    
    </script>
<div style="height: 700px; width: 100%; margin: 0 auto">
    <h2>Doctor @physicianModel.Name 's Schedule</h2>
    @Html.Raw(Model.GenerateHTML())
    <link href="~/Scripts/dhtmlxScheduler/custom_calendar.css" rel="stylesheet" />
</div>
</body>

</html>
