@using MvcApplication2.Models;
@{
    int culture = SiteSession.CurrentUICulture;
    string pageTitle = string.Format("{0} - {1}", Resources.Resource.Title, ViewBag.Title);
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@pageTitle</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("WBHS", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li onclick="changeCurrentCulture(1)">@Html.ActionLink(@Resources.Resource.Home, "Index", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Resource.About, "About", "Home")</li>
                            <li>@Html.ActionLink(@Resources.Resource.Contact, "Contact", "Home")</li>
                        </ul>
                    </nav>
                        <button name="button" onclick="changeCurrentCulture(1)"><img src="~/Content/tr_flag.png" /></button>                        
                        <button name="button" onclick="changeCurrentCulture(0)"><img src="~/Content/en_flag.png" /></button>

                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - WBHS</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            var paramObject = {
                UrlChangeCulture: '@Url.Content("Account/ChangeCurrentCulture")'
             }

             function changeCurrentCulture(culture) {
                 document.location = "/Account/ChangeCurrentCulture?culture=" + culture;
                 return true;
             }

        </script>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
