@using Resources
@model MvcApplication2.Models.PatientModel
@if (!ViewData.ContainsKey("DoctorReadOnly"))
{
    ViewData["DoctorReadOnly"] = new { @readonly = "readonly" };
}
@if (!ViewData.ContainsKey("TechnicianReadOnly"))
{
    ViewData["TechnicianReadOnly"] = new { @readonly = "readonly" };
}
@if (!ViewData.ContainsKey("StaffReadOnly"))
{
    ViewData["StaffReadOnly"] = new { @readonly = "readonly" };
}
<fieldset>
    <legend>PatientModel</legend>

    <div class="display-label">
         @Resource.Vaccinations
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Vaccinations, ViewData["StaffReadOnly"])
    </div>
    <div class="display-label">
         @Resource.LabResults
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.LabResults, ViewData["DoctorReadOnly"])
    </div>
    <div class="display-label">
         @Resource.Treatments
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Treathments, ViewData["TechnicianReadOnly"])
    </div>

    <div class="display-label">
         @Resource.Height
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Height, ViewData["StaffReadOnly"])
        @Html.ValidationMessageFor(model => model.Height)
    </div>

    <div class="display-label">
         @Resource.Weight
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Weight, ViewData["StaffReadOnly"])
        @Html.ValidationMessageFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Resource.Gender
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.Gender, new SelectList(Model.Genders, "Value", "Text"), ViewData["StaffReadOnly"])
    </div>
    
    <div class="display-label">
         @Resource.CurrentMeds
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.CurrentMedications, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.InconvenientMeds
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.InconvenientMedications, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.Allergies
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Allergies, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.Surgeries
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Surgeries, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.Diseases
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Diseases, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.Disorders
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Disorders, ViewData["StaffReadOnly"])
    </div>
    
    <div class="display-label">
         @Resource.IsVisitationInformationPrivate
    </div>
    <div class="display-field">
        @Html.CheckBoxFor(model => model.IsVisitationInformationPrivate, ViewData["StaffReadOnly"])
    </div>
    
    <div class="display-label">
         @Resource.LoginUserName
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.UserName, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterCitizenshipNumber
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.TcCitizenshipNo, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterName
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Name, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterSurname
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Surname, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterPhoneNumber
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.PhoneNumber, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterHomeAddress
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.HomeAddress, ViewData["StaffReadOnly"])
    </div>

    <div class="display-label">
         @Resource.RegisterBirthday
    </div>
    <div class="display-field">
        @Html.EditorFor(model => model.Birthday, ViewData["StaffReadOnly"])
    </div>
</fieldset>
