@model MvcApplication2.Models.UserProfile

<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Resources.Resource.LoginUserName
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.UserName, new { @readonly="readonly" })
    </div>

    <div class="display-label">
        @Resources.Resource.RegisterCitizenshipNumber
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.TcCitizenshipNo, new { @readonly="readonly" })
    </div>

    <div class="display-label">
         @Resources.Resource.LoginUserName
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div class="display-label">
         @Resources.Resource.RegisterSurname
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Surname, new { @readonly="readonly" })
    </div>

    <div class="display-label">
        @Resources.Resource.RegisterPhoneNumber
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.PhoneNumber, new { @readonly="readonly" })
    </div>

    <div class="display-label">
         @Resources.Resource.RegisterHomeAddress
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.HomeAddress, new { @readonly="readonly" })
    </div>

    <div class="display-label">
         @Resources.Resource.RegisterBirthday
    </div>
    <div class="display-field">
        @Html.TextBoxFor(model => model.Birthday, new { @readonly="readonly" })
    </div>
</fieldset>
