@model MvcApplication2.Models.UserProfile

@{
    ViewBag.Title = @Resources.Resource.NewAccount;
}

<h2>@Resources.Resource.NewAccount</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>

        <div class="editor-label">
            @Resources.Resource.LoginUserName
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterCitizenshipNumber
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TcCitizenshipNo)
            @Html.ValidationMessageFor(model => model.TcCitizenshipNo)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterName
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterSurname
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterPhoneNumber
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterHomeAddress
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeAddress)
            @Html.ValidationMessageFor(model => model.HomeAddress)
        </div>

        <div class="editor-label">
            @Resources.Resource.RegisterBirthday
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>
        <div>
            <div>
                @Resources.Resource.AccountType
            </div>
            @Html.DropDownListFor(m => m.AccountType, new SelectList(Model.AccountTypes, "Value", "Text"))
        </div>
        <p>
            <input type="submit" value='@Resources.Resource.Save' />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Resource.BacktoList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
