@using Resources
@model MvcApplication2.Models.UserProfile

@{
    ViewBag.Title = @Resources.Resource.Delete;
}

<h2>@Resources.Resource.Delete</h2>

<h3>@Resources.Resource.DeleteUserPrompt</h3>
<fieldset>
    <legend>UserProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TcCitizenshipNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TcCitizenshipNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Surname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value=@Resource.Delete /> |
        @Html.ActionLink(@Resource.BacktoList, "Index")
    </p>
}
