@model MvcApplication2.Models.PatientModel

@{
    ViewBag.Title = Resources.Resource.Details;
}

<h2>Details</h2>
@Html.Partial("_PatientDetailsPartial")
<p>
    @Html.ActionLink(@Resources.Resource.Edit, "Edit", new { id=Model.UserId }) |
    @Html.ActionLink(@Resources.Resource.BacktoList, "Index")
</p>
