@model MvcApplication2.Models.PatientModel

@{
    ViewBag.Title = "Details";
    ViewData["DoctorReadOnly"] = new { @readonly = "readonly" };
    ViewData["TechnicianReadOnly"] = new { @readonly = "readonly" };
}

<h2>@Resources.Resource.Details</h2>

@Html.Partial("_PatientDetailsPartial")

<p>
    @Html.ActionLink(@Resources.Resource.Edit, "Edit", new { id=Model.UserId }) |
    @Html.ActionLink(@Resources.Resource.BacktoList, "Index")
</p>
