@model PagedList.IPagedList<MvcApplication2.Models.PatientModel>
@using PagedList.Mvc; 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = @Resources.Resource.Patients;
}

<h2>@Resources.Resource.Patients</h2>

@using (Html.BeginForm("Index", "Staff", FormMethod.Get))
{
    <p>
        @Resources.Resource.FindByName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value='@Resources.Resource.Search' />
    </p>
}
<table border="1" cellpadding="10">
    <tr>
        <th>@Resources.Resource.Actions</th>
        <th>@Resources.Resource.PhotoInternal</th>
        <th>
            @Html.ActionLink(@Resources.Resource.LoginUserName, "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink(@Resources.Resource.RegisterSurname, "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Resources.Resource.Edit, "Edit", new {id = item.UserId}) |
            @Html.ActionLink(@Resources.Resource.Details, "Details", new {id = item.UserId})
        </td>
        <td>
            @Helpers.ShowPhotoOrDefault(item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
    </tr>
}

</table>
<br />
@Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )