@using Resources
@model MvcApplication2.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <div>
                    @Resource.CurrentPassword
                </div>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <div>
                    @Resource.NewPassword
                </div>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                <div>
                    @Resource.ConfirmNewPassword
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value='@Resource.ChangePassword' />
    </fieldset>
}
