@using Resources
@model MvcApplication2.Models.LoginModel

@{
    ViewBag.Title = @Resources.Resource.Login;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>@Resource.LoginLocalAccount</h2>
@using (Html.BeginForm(new {ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                <div>
                    @Resource.LoginUserName
                </div>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                <div>
                    @Resource.LoginPassword
                </div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Resource.LoginRememberme
                @Html.CheckBoxFor(m => m.RememberMe)
            </li>
        </ol>
        <input type="submit" value='@Resource.Login' />
    </fieldset>
    <p>
        @Resource.NoAccount, @Html.ActionLink(Resources.Resource.Register, "Register")
    </p>
}
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
