@using Resources
@model MvcApplication2.Models.LocalPasswordModel
@{
    ViewBag.Title = Resource.ManageAccount;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>@Resources.Resource.LoggedInNotification<strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
