@using Resources
@model MvcApplication2.Models.RegisterModel
@{
    ViewBag.Title = Resource.Register;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Resource.CreateNewAccount</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <div>
                    @Resource.RegisterName
                </div>
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                <div>
                    @Resource.RegisterSurname
                </div>
                @Html.TextBoxFor(m => m.Surname)
            </li>
            <li>
                <div>
                    @Resource.RegisterCitizenshipNumber
                </div>
                @Html.TextBoxFor(m => m.TcCitizenshipNo)
            </li>
            <li>
               <div>
                    @Resource.RegisterPhoneNumber
                </div>
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                <div>
                    @Resource.RegisterHomeAddress
                </div>
                @Html.TextAreaFor(m => m.HomeAddress)
            </li>
             <li>
                <div>
                    @Resource.RegisterBirthday
                </div>
                @Html.EditorFor(x => x.Birthday)
                @Html.ValidationMessageFor(x => x.Birthday)
            </li>
            <li>
                <div>
                    @Resource.LoginUserName
                </div>
                @Html.TextBoxFor(m => m.UserName,new { @type = "email" })
            </li>
            <li>
                <div>
                    @Resource.LoginPassword
                </div>
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                <div>
                    @Resource.RegisterConfirm
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value='@Resource.Submit' />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
